@model IEnumerable<AppMessageViewModel>

<div class="list-group">

    @foreach (var message in Model)
    {
        <a asp-action="ReadMessage" asp-route-messageId="@message.Id" class="list-group-item list-group-item-action flex-column align-items-start mb-3 ">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@message.MessageType</h5>
                <small>3 days ago</small>
            </div>
            <p class="mb-1">@message.Message</p>
            <small>Donec id elit non mi porta.нов отговор @message.NewAdminRepliesCount </small>
        </a>
    }
</div>