@model AppMessageViewModel


<div class="row">
    <div class="col">
        <a asp-controller="Contacts" asp-action="MyMessages" class="btn btn-primary btn btn-sm pull-right rounded mb-3">
            <i class="fas fa-arrow-alt-circle-left"></i> Всички
        </a>
    </div>
</div>
<partial name="_ReadMessagePartial" model=Model />