@model AllUserOrdersViewModel

<partial name="_UserOrdersPartial" model=@Model.OrdersInProgres />

<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Виж всички
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <partial name="_UserOrdersPartial" model=@Model.SentOrders />
            </div>
              <partial name="_PagingPartial" model=@Model />
        </div>
      
    </div>
    
</div>






