@model AdminMessageViewModel

<div class="col-md-6 ">
        <form asp-action="Index">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control"><strong>@Model.MessageType</strong></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control">
                            <strong>@Model.CreatedOn.ToString("dd.MM.yy - HH:mm")</strong>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control"><strong>@Model.Sender</strong></label>
            </div>
            <div class="form-group">
                <textarea disabled rows="5" asp-for="Message" class="form-control"></textarea>
            </div>
        </form>
    </div>