@model AppMessageViewModel

<div class="row">
    <div class="col">
        <a asp-action="AllMessages" class="btn btn-primary btn btn-sm pull-right rounded mb-3">
            <i class="fas fa-arrow-alt-circle-left"></i> Всички
        </a>
        @if (!Model.IsOpen)
        {
            @if (Model.MessageType == "Кандидатсване")
            {
                <a class="btn btn-success btn btn-sm pull-right rounded mb-3"
           asp-controller="Users"
           asp-action="Аpprove"
           asp-route-messageId="@Model.Id"
           asp-route-approve="true">
                    <i class="fas fa-check-circle"></i> Одобри
                </a>

                <a class="btn btn-danger btn btn-sm pull-right rounded mb-3"
           asp-controller="Users"
           asp-action="Аpprove"
           asp-route-messageId="@Model.Id"
           asp-route-approve="false">
                    <i class="fas fa-times-circle"></i> Отказ
                </a>

                <a class="btn btn-success btn btn-sm pull-right rounded mb-3"
           asp-action="CloseDiscussion"
           asp-route-messageId="@Model.Id">
                    <i class="fas fa-check-circle"></i> Затвори дискусия
                </a>
            }
        }
        else
        {
            <a class="btn btn-secondary btn btn-sm pull-right rounded mb-3">
                <i class="fas fa-times-circle"></i> Затворено
            </a>
        }
    </div>
</div>

<partial name="_ReadMessagePartial" model=Model />