@model AdminMessageViewModel

<div class="mb-3">

    <a class="btn btn-primary btn-sm"
       asp-action="allmessages">
        <i class="fas fa-arrow-alt-circle-left"></i> Всички
    </a>

    @if (Model.MessageType == "Кандидатсване" && Model.Answer == null)
    {
        <a class="btn btn-primary btn-sm"
       asp-controller="Users"
       asp-action="Аpprove"
       asp-route-messageId="@Model.Id">
            <i class="fas fa-user-plus"></i> Одобри
        </a>
    }

</div>


<div class="row">
    <partial name="_MessagePartial" model="@Model" />

    @if (!Model.IsRead)
    {
        @if(Model.MessageType != "Кандидатсване")
        {
             <div class="col-md-6 ">
            <form asp-action="ReadMessage" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <textarea rows="5" asp-for="Text" class="form-control" placeholder="Саобщение..."></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="Id" class="form-control">
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="Sender" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" value="Изпрати" class="btn btn-primary" />
                </div>

            </form>
        </div>
        }
       
    }
    else
    {
        <partial name="_MessagePartial" model="@Model.Answer" />
    }
</div>