@using RestaurantSystem.Common
@using RestaurantSystem.Data.Models
@using Microsoft.AspNetCore.Identity
@using RestaurantSystem.Web.Infrastructure
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RestaurantSystem.Services.Orders.IOrderService orderService
@inject RestaurantSystem.Services.Notifications.INotificationService notificationService

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        var userId = ClaimsPrincipalExtensions.Id(this.User);

        var ordersCount = orderService
        .GetUserOrders(userId, 1).OrdersInProgres.Count();

        <li class="nav-item mr-2">
            <partial name="_NotificationsPartial" model=@notificationService.ShowUserNotifications(userId) />
        </li>
        <li class="nav-item mr-2">
            <a asp-area="" asp-controller="Users" asp-action="MyOrders" title="Orders" type="button" class="btn btn-sm btn-primary">
                <i class="fas fa-cart-arrow-down"> (@ordersCount)</i>
            </a>
        </li>
        <li class="nav-item mr-2">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" type="button" class="btn btn-sm btn-primary">
                <i class="fas fa-user-cog"></i>
            </a>
        </li>
        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                <button type="submit" class="btn btn-sm btn-primary">
                    <i class="fas fa-sign-out-alt"></i>

        </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
